# Analysis of @TheGeeksCore tweets

In [1]:
import tweepy
import json
import re
import pandas as pd
import matplotlib.pyplot as plt
import time

In [2]:
#Authorizing Tweepy to utilize API
con_key = 'ex9taKKpQiIA7ySrb3xqpDrTp'
con_sec = '0Kpv9isbRm1SmbFTQlK7N0YIs0Us0RAMzCli11NPdgttX9LDFm'
acc_token = '324932965-RnS6OJyQclT28DuCZfI9gqr4uvrTJbtea1mYtqm5'
acc_token_sec = 'BkXux2w50OhWpHRerbdFk1xMIBaJxqQdna4Ukma3eOC1Z'

authorize = tweepy.OAuthHandler(con_key, con_sec)
authorize.set_access_token(acc_token, acc_token_sec)
api = tweepy.API(authorize, wait_on_rate_limit = True)

In [3]:
#Searching specific account's tweet (@Thegeekscore)
handle = 'thegeekscore'
num_tweets = 3000

try:
    tweets = tweepy.Cursor(api.user_timeline, id = handle, tweet_mode = 'extended').items(num_tweets)
    tweets_list = [[tweet.created_at, tweet.id_str, tweet.full_text, tweet.retweet_count, tweet.favorite_count] for tweet in tweets]
    data = pd.DataFrame(tweets_list, columns = ['Date', 'ID', 'Tweet', 'Retweets', 'Likes'])

except BaseException as e:
    print('failed on status,', str(e))
    time.sleep(3)

In [4]:
data.head(20)

,Date,ID,Tweet,Retweets,Likes
0,2020-10-18 14:18:59,1317832553093541888,@Deucalion_1 Sure,0,1
1,2020-10-18 11:32:53,1317790751426826241,@Deucalion_1 Just started.,0,1
2,2020-10-16 21:22:59,1317214478870712322,RT @sebriones97: Yes!!!,1,0
3,2020-10-16 08:55:15,1317026307243462657,RT @charlieINTEL: PlayStation 5 UI https://t.c...,4516,0
4,2020-10-16 08:51:01,1317025240300617729,RT @getFANDOM: Two legends come alive in new c...,139,0
5,2020-10-16 08:37:13,1317021770415824896,RT @DCComics: New heroes. \nNew villains. \nNe...,1267,0
6,2020-10-16 08:36:39,1317021624533659648,I‚Äôm such a sucker for space shows and anything...,2,7
7,2020-10-16 08:30:45,1317020141092298756,REMAIN KLINGON! #StarTrekDiscovery,0,0
8,2020-10-16 08:28:27,1317019563570139136,"Give me that sweet rusty, raspy Klingon tongue...",0,0
9,2020-10-16 08:27:52,1317019416895361024,My love ü•∫ü•∫ü•∫ü•∫ #StarTrekDiscovery,0,0
10,2020-10-16 08:26:36,1317019097603899393,THIS IS NOT A DRILL! THIS IS NOT A DRILL!!! ST...,8,5
11,2020-10-16 07:42:31,1317008005146214400,When Homelander almost seemed human when talki...,0,3
12,2020-10-15 09:11:26,1316667991321436161,RT @getFANDOM: 'Dexter' revived at Showtime wi...,939,0
13,2020-10-15 07:18:46,1316639637499244544,RT @NXOnNetflix: dad left me on the moon https...,289,0
14,2020-10-14 20:42:37,1316479545554464768,RT @RottenTomatoes: #Dexter is back! Michael C...,1331,0
15,2020-10-14 16:51:31,1316421390162104320,IT IS COMIC BOOK DAY!! https://t.co/iUnr06f1Lc,3,11
16,2020-10-14 16:21:16,1316413774535028738,RT @JackQuaid92: üê§ Just a man and his canary t...,434,0
17,2020-10-14 15:11:41,1316396263047340038,RT @NXOnNetflix: The confidence crew of Great ...,722,0
18,2020-10-14 14:08:31,1316380366287011840,@duh_qid @One_Sheyi You should get on it.,0,0
19,2020-10-14 13:58:26,1316377829030928386,@One_Sheyi Lovecraft Country,0,0